.SideBar, .TimeTable {
    height: 100vh;

}


.HourLegend {
    padding-top: 120px;
    display: grid;
    text-align: center;
   
}

.HourText {
    height: 50px;
}

.Day {
    color: rgb(181, 206, 252);
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 100%;

    border-left: 2px solid white;
    display: grid;
    grid-template-rows: repeat(25, 100px);
    grid-template-columns: 100%;
    grid-auto-flow: column;

}

.DayHeader {
    grid-area: 1/1/2/2;
    color: black;
    background-color: aquamarine;

}

.Highlight {
    grid-column: 1/2;
    background-color: rgba(127,0,255,0.2);
    z-index: 1;
} 

.Task {
  
    background-color: red;
    z-index: 1;
    grid-column: 1/2;
    color: white;
    padding-top: 10px;
}

.HourLine {
    border-bottom: 1px dashed rgb(12, 227, 255);
    border-top: 1px dashed rgb(12, 227, 255);
    background-color: rgba(175, 236, 255, 0.2);
    opacity: 100%;
    grid-column: 1/2;
    z-index: 0;
}

.TimeTable {
    display: flex;
    width: 80%;
    justify-content: center;
    
    height: 100%;
}

.App{
    display: flex;


}

body {
    margin: 0;
    font-family: Verdana;
    
}