.SideBar, .TimeTable {
    height: 100vh;

}


.HourLegend {
    display: grid;
    grid-template-rows: repeat(24, 100px);
    padding-top: 6.5%;
    display: grid;
    text-align: center;
    color: #3AAFA9;
   
}

.HourText {
    height: 50px;
}

.PopUp {
    width: 100%;
    height: 150%;
    background-color: #3AAFA9;
    border: 3px solid #2B7A78;
    position: absolute;
    right: 100%;
    z-index: 3;
    border-radius: 20px;
    color: white;
    display: grid;
    grid-template-columns: 1px repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    input {
        color: #2B7A78;
        background-color: #DEF2F1;
        margin: 10px;
        border: 4px solid #2B7A78;
        border-radius: 8px;
        grid-row: 1/2;
        grid-column: 2/8;
    }

    .Colorbox {
        background-color: green;
        border-radius: 25%;
        width: 30px;
        height: 30px;
        align-self: center;
        grid-row: 2/3;
        grid-column: 7/8;
       
    }

    .Confirmbtn{
        grid-row: 3/4;
        grid-column: 2/5;

        margin: 5px;
    }

    .Cancelbtn {
        grid-row: 3/4;
        grid-column: 5/8;
    
        margin: 5px;
    }

    .Colorbtn {
        display: inline-block;
        grid-column: 2/7;
        grid-row: 2/3;
        
        margin: 5px;

    }
    button {
        margin: 5px;
        background-color: #DEF2F1;
        color: #2B7A78;
        padding: 5px 15px;
        border-radius: 8px;
        border: 4px solid #2B7A78;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 1px;
        margin: 10px 0px;
        cursor: pointer;
        box-shadow: 0px 2px 2px lightgray;
        transition: ease background-color 250ms;
        
    }
    
    button:hover {
        color: #FEFFFF;
        background-color: #2B7A78;
    
        rect {
            fill: none;
            stroke: #fff;
            stroke-width: 2;
            stroke-dasharray: 422, 0;
            transition: all 0.35s linear;
          }
    }
    
    button:active {
        transform: translateY(2px);
    }
    
}

.HexColorPicker {
    border: 4px solid #2B7A78;
    border-radius: 5.5%;
    right: 203%;
    z-index: 4;

}

.Day {
    color: rgb(181, 206, 252);
    text-align: center;
    background-color: rgb(245, 245, 245);
    width: 100%;

    border-left: 2px solid white;
    display: grid;
    grid-template-rows: 100px repeat(24, 100px);
    grid-template-columns: 100%;
    grid-auto-flow: column;

}

.DayHeader {
    grid-area: 1/1/2/2;
    background-color: aquamarine;
    color: white; 
    position: sticky;

}

.Highlight {
    position: relative;
    grid-column: 1/2;
    background-color: rgba(71, 181, 255, 0.2);
    z-index: 1;

} 

.Task {
  
    background-color: red;
    z-index: 1;
    grid-column: 1/2;
    color: white;
    padding-top: 10px;
    border-radius: 20px;
}

.HourLine {
    border-bottom: 1px dashed #3AAFA9;
    border-top: 1px dashed #3AAFA9;
    background-color: rgba(175, 236, 255, 0.2);
    opacity: 100%;
    grid-column: 1/2;
    z-index: 0;
}

.TimeTable {
    display: flex;
    width: 80%;
    justify-content: center;
    
    height: 100%;
}

.App{
    display: flex;


}

body {
    margin: 0;
    font-family: Verdana;
    
}