:root {
    --font-family: "Franklin Gothic Medium";
    --primary: #2B7A78;
    --secondary: #3AAFA9;
    --secondaryTransparent: #3AAFA901;
    --tertiary: #DEF2F1;
    --quarternary: #17252A;
    --quinary: #FEFFFF;

    --scroll: visible;
}

.App {
    
    font-family: var(--font-family);
}